@import "./node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.aboutMe {
  position: relative;
  display: flex;

  margin-top: 12px;
  min-height: 500px;
}

.name {
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
  flex: 1;
  margin-left: 144px;
  background-image: url("./imgs/profile.jpeg");
  background-size: cover;
  min-width: 250px;
}
.name > h1 {
  position: absolute;
  right: 12px;
  bottom: 0px;
  color: white;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}
.description {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 1;
  align-self: center;
  flex: 2;
  margin-right: 144px;
  padding: 72px;
  padding-left: 24px;
  margin-bottom: 48px;
  margin-top: 48px;
}
.background {
  position: absolute;
  height: 150%;
  width: 130%;
  background-color: orange;
  opacity: 50%;
  z-index: 0;
  transform: rotate(-15deg) translateX(-200px) translateY(-25px);
  transform-origin: top left;
}
.projects {
  z-index: 1;
  margin-top: 144px;
  margin-left: 144px;
  margin-right: 144px;
}
.project {
  height: 250px;
  max-width: 300px;
  min-width: 150px;
  flex: 1 1 100%;
  margin: 48px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.projectContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.projects > h2 {
  border-bottom: 1px solid black;
  padding-bottom: 36px;
}
.contactMe {
  margin-top: 144px;
  background-color: rgba(265, 155, 0, 0.5);

  position: relative;
  min-height: 500px;
  display: flex;
}
.contactMe > h2 {
  padding-bottom: 36px;
  border-bottom: 1px solid black;
  z-index: 1;
  margin-left: 144px;
  margin-right: 144px;
}
.contactMe > h4 {
  margin-left: 144px;
  margin-right: 144px;
}
.contactMeDetails {
  margin-left: 144px;
  flex: 2;
  align-self: center;
}
.aboutMeName {
  margin-right: 144px;
  background-image: url("./imgs/profile.jpeg");
  background-size: cover;
  flex: 1;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  color: white;
  padding-left: 24px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
@media (max-width: 1100px) {
  .name > h1 {
    top: -12px;
    right: -144px;
  }
  .name {
    background-position: 50%;
    min-height: 300px;
    max-width: 250px;
    float: left;
    margin-right: 24px;
    z-index: 2;
    margin-bottom: 12px;
  }
  .aboutMe {
    display: block;
  }
  .aboutMe > .description {
    margin-right: 72px;
    margin-left: 72px;
    position: relative;
    padding-right: 24px;
  }
  .projectContainer > .project {
    max-width: 250px;
    margin: 12px;
  }
  .projects {
    margin-left: 72px;
    margin-right: 72px;
  }
  .contactMe > .aboutMeName {
    margin-right: 72px;
  }
  .contactMe > .contactMeDetails {
    margin-left: 72px;
    flex: 1;
  }
}
@media (max-width: 570px) {
  body > .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
  }
  .aboutMe > .background {
    height: 128%;
    width: 200%;
    transform: rotate(-15deg) translateX(-100px) translateY(-25px);
  }
  .aboutMe > .name {
    margin: 0px;
  }
  .name > h1 {
    bottom: 0px;
    right: 0px;
    top: auto;
  }
  body > .contactMe {
    flex-direction: column;
    align-items: center;
  }
  .contactMe > .contactMeDetails,
  .contactMe > .aboutMeName {
    margin: 0px;
  }
  .contactMe > .contactMeDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactMeDetails > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
